# OS X
.DS_Store

# Lokalise
lokalise.yml

# Environment Variables
.env

# Xcode
build/
.build
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# AppCode
.idea/

# Ruby Gem
/vendor/bundle
/Example/vendor/bundle

/Example/fastlane/test_output
/Example/fastlane/test_output
/Example/fastlane/report.xml
CLAUDE.md
