<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/AutoLayout-Helper</string>
			<key>Title</key>
			<string>AutoLayout-Helper</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/Base32</string>
			<key>Title</key>
			<string>Base32</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/DeviceKit</string>
			<key>Title</key>
			<string>DeviceKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/GRDB.swift</string>
			<key>Title</key>
			<string>GRDB.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/ios-sdk</string>
			<key>Title</key>
			<string>Datatrans</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/KeychainAccess</string>
			<key>Title</key>
			<string>KeychainAccess</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/OneTimePassword</string>
			<key>Title</key>
			<string>OneTimePassword</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/Pulley</string>
			<key>Title</key>
			<string>Pulley</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/SDCAlertView</string>
			<key>Title</key>
			<string>SDCAlertView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/TrustKit</string>
			<key>Title</key>
			<string>TrustKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/WCAG-Colors</string>
			<key>Title</key>
			<string>WCAG-Colors</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ios.snabble.LicensePlist/Zip</string>
			<key>Title</key>
			<string>Zip</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
